<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>CrearSesion</display-name>
    <servlet-name>CrearSesion</servlet-name>
    <servlet-class>cl.edutecno.servlet.CrearSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearSesion</servlet-name>
    <url-pattern>/CrearSesion</url-pattern>
  </servlet-mapping>
  <display-name>REBOUND_EXERCISE_CUE_3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VerSesion</display-name>
    <servlet-name>VerSesion</servlet-name>
    <servlet-class>cl.edutecno.servlet.VerSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerSesion</servlet-name>
    <url-pattern>/VerSesion</url-pattern>
  </servlet-mapping>
</web-app>